  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">blog-app</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
      <li class="ログアウト">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <li><a class="post" href="/tweets/new">投稿する</a>></li>
      </li>
      <% else %>
        <li>
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </li>
      <% end %>
      </ul>
    </div>
  </nav>
