


  <div class="container">
    <div class="col s12 m7">
      <h2 class="header">内容一覧</h2>
      <% @tweets.each do |tweet| %>
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p><%= tweet.text %></p>
          </div>
          <div class="card-action">
            <a href="#">編集</a>
            <a href="#">削除</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>          

  <script type="text/javascript" src="./app.js"></script>
